.container {
    background-color: #C1D37F;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.title {
    text-align: center;
}

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
